body{


	
}
h1{
	text-align: center;
}
.form-group-nama{
	padding:15px;
}
.form-group-data{
	padding: 15px;

}
.form-group-bio{
	padding: 15px;
}
.form-group-input{
	padding: 15px;
}
.form-group-gen{
	padding:15px;
}